.TemperatureOverview ul {
  margin: 0;
  padding: 0;
}

.TemperatureOverview li {
  list-style: none;
  font-size: 12px;
  font-weight: 400px;
  height: 16px;
  line-height: 16px;
}

.TemperatureOverview li:first-letter {
  text-transform: capitalize;
}

.TemperatureOverview .weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.TemperatureOverview .weather-temperature strong {
  font-size: 64px;
  font-weight: 400px;
  line-height: 1;
  margin-right: 5px;
}

.TemperatureOverview .weather-temperature .units {
  position: relative;
  top: -34px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
